
@{
    ViewBag.Title = "CV";
}

@{ Html.RenderAction("GetPersonnalInfoPartial", "Resume"); }
@{ Html.RenderAction("GetEducationCVPartial", "Resume"); }
@{ Html.RenderAction("WorkExperienceCVPartial", "Resume"); }
@{ Html.RenderAction("SkillsCVPartial", "Resume"); }
@{ Html.RenderAction("CertificationsCVPartial", "Resume"); }
@{ Html.RenderAction("LanguageCVPartial", "Resume"); }
<div class="mt-5 mb-5"></div>